logs/
world/
world_nether/
world_the_end/
/QQBot/data/


/eula.txt
/ops.json
/usercache.json
/plugins/NekoMaid/status.json
/plugins/ProtocolLib/lastupdate
/QQBot/device.json
/plugins/InfiniteBot3/player_data.yml
/QQBot/session.token
*.db

/.*
!.gitignore