logs/
/world/
/world_nether/
/world_the_end/
/crash-reports/
/plugins/CustomJoinAndQuitMessages/Players/
/plugins/Residence/Backup/
/plugins/bStats/
/plugins/Residence/Save/


/eula.txt
/ops.json
/usercache.json
/plugins/NekoMaid/status.json
/plugins/ProtocolLib/lastupdate
/plugins/DynamicDifficulty/data.yml
/permissions.yml
/version_history.json
/whitelist.json
/help.yml
/commands.yml
/banned-ips.json
/banned-players.json
/plugins/AntiJoin/whitelist.yml
/plugins/CustomJoinAndQuitMessages/players.yml
*.db

/.*
!.gitignore