logs/
/world/
/world_nether/
/world_the_end/
/crash-reports/
/libraries/


/eula.txt
/ops.json
/usercache.json
/plugins/NekoMaid/status.json
/plugins/ProtocolLib/lastupdate
/plugins/Residence/Backup/
*.db

/.*
!.gitignore